
@using HRMS.Entity.Models;
@model Department
@{
    Layout = "_EmptyLayout";
}

<div class="card">
    <div class="card-header">
        <b>Add Department</b>
    </div>
    <div class="card-body">
        <div class="col-md-10">
            <form asp-action="CreateDepartment" method="POST">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="deptname" class="control-label"></label>
                        <input asp-for="deptname" class="form-control" />
                        <span asp-validation-for="deptname" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input type="submit" value="Add" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }