@using HRMS.Entity.Models;
@model Project
@{
    Layout = "_EmptyLayout";
}

<div class="card">
    <div class="card-header">
        <b>Add New Project</b>
    </div>
    <div class="card-body">
        <div class="col-md-10">
            <form asp-action="CreateProject" method="POST">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="projectname" class="control-label"></label>
                        <input asp-for="projectname" class="form-control" placeholder="LPA" />
                        <span asp-validation-for="projectname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="startdate" class="control-label"></label>
                        <input asp-for="startdate" class="form-control" />
                        <span asp-validation-for="startdate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="enddate" class="control-label"></label>
                        <input asp-for="enddate" class="form-control" />
                        <span asp-validation-for="enddate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="status" value="OnGoing" class="form-control" />

                        <input type="submit" value="Add" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }