@using HRMS.Entity.Models;
@model Position
@{
    Layout = "_EmptyLayout";
}
<div class="row">
    <div>
        <h4>You Want To Delete @Model.positionid?</h4>
    </div>
    <div>
        <form asp-action="DeletePosition" method="post">
            <input type="hidden" asp-for="positionid" value="@Model.positionid" />
            <input type="submit" value="Delete" class="btn btn-danger" />

        </form>
    </div>

</div>

