@using HRMS.Entity.Models;

@{
    Layout = "_EmptyLayout";
}

@model Salary




<div class="card">
    <div class="card-header">
        <b>Edit Salary Pakage</b>
    </div>
    <div class="card-body">
        <div class="col-md-8">
            <form asp-action="EditSalary" method="POST">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="salaryid" class="form-control" />
                        <label asp-for="salary" class="control-label"></label>
                        <input asp-for="salary" class="form-control" />
                        <span asp-validation-for="salary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pf" class="control-label"></label>
                        <input asp-for="pf" class="form-control" />
                        <span asp-validation-for="pf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="specialallowance" class="control-label"></label>
                        <input asp-for="specialallowance" class="form-control" />
                        <span asp-validation-for="specialallowance" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }