@using HRMS.Entity.Models;

@{
    Layout = "_EmptyLayout";
}

@model Leave




<div class="card">
    <div class="card-header">
        <b>Edit Leave</b>
    </div>
    <div class="card-body">
        <div class="col-md-8">
            <form asp-action="Editleave" method="POST">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="leaveid" class="form-control" />
                        <label asp-for="leavename" class="control-label"></label>
                        <input asp-for="leavename" class="form-control" />
                        <span asp-validation-for="leavename" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="days" class="control-label"></label>
                        <input asp-for="days" class="form-control" />
                        <span asp-validation-for="days" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }