@{
    Layout = "_MenuLayout";
}

@if (!User.IsInRole("Admin"))
{
    <div class="card col-12">
        <div class="card-header">
            Leave Status
        </div>
        <div class="card-body d-flex justify-content-between">
            @foreach (var item in ViewBag.data)
            {
                <div class="card col-3">
                    <div class="card-header text-center" style="background-color:darkslategray; color:white">
                        <b>@item.name</b>
                    </div>
                    <div class="card-body" style="background-color:lightgray;">
                        <h1 class="text-center ">@item.days</h1>
                    </div>
                </div>
            }

        </div>
    </div>
}
<br /><br /><br />



<div class="d-flex justify-content-between col-12">
    <div class=" col-3">
        <div class="card col-12">
            <div class="card-header d-flex justify-content-between">
                Birthdays
                <i class="fa fa-birthday-cake"></i>
            </div>
            <div class="card-body" style="height:200px;">
            </div>
        </div>
    </div>
    <div class=" col-3">
        <div class="card col-12">
            <div class="card-header d-flex justify-content-between">
                Messages
                <i class="fa fa-message"></i>
            </div>
            <div class="card-body" style="height:200px;">
            </div>
        </div>
    </div>
    <div class=" col-3">
        <div class="card col-12">
            <div class="card-header d-flex justify-content-between">
                Employees
                <i class="fa fa-users"></i>
            </div>
            <div class="card-body" style="height:200px;">
            </div>
        </div>
    </div>
</div>