
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul class="pcoded-item pcoded-left-item">
    <li class="active">
        <a asp-action="Index" asp-controller="User" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
            <span class="pcoded-mtext">Dashboard</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-people-roof"></i><b>BC</b></span>
            <span class="pcoded-mtext">Manage Employee</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a asp-action="ViewAllEmployee" asp-controller="ManageEmployee" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">View Users</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a asp-action="Register" asp-controller="Account" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Add User</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>


        </ul>
    </li>
</ul>


<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-door-closed"></i><b>BC</b></span>
            <span class="pcoded-mtext">Manage Leaves</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class="">
                <a asp-action="LeaveRequests" asp-controller="HR" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">New Requests</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a asp-action="AllLeave" asp-controller="HR" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">History</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

        </ul>
    </li>
</ul>




<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a asp-action="TrainingDetails" asp-controller="HR" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-line-chart"></i><b>M</b></span>
            <span class="pcoded-mtext">Manage Training</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul><ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a asp-action="ProjectDetails" asp-controller="HR" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-rectangle-list"></i><b>M</b></span>
            <span class="pcoded-mtext">Manage Projects</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>


<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Leaves</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a asp-action="ViewLeave" asp-controller="User" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">View</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a asp-action="LeaveApply" asp-controller="User" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Apply</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>


        </ul>
    </li>
</ul>





<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a asp-action="ViewEmployeeDetails" asp-controller="ManageEmployee" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-user"></i><b>M</b></span>
            <span class="pcoded-mtext">Profile</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>



<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a asp-action="LogOut" asp-controller="Account" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-power-off"></i><b>M</b></span>
            <span class="pcoded-mtext">LogOut</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>
