@{
    Layout = "_MenuLayout";
}


@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<div class="d-flex justify-content-around">
<div class="card col-5 mt-lg-5">
    <div class="card-body">
        <div class="card-header">
            <a asp-action="CreateRole" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </div>

        <table class="table table-bordered table-striped ">
            <tr>
                
                <th>@Html.DisplayNameFor(model => model.Name)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
</div>