@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using HRMS.Common.ErrorClass;
@model ErrorResult<ChangePasswordViewModel>

@{
    Layout = "_MenuLayout";
    
}

<h1>ChangePassword</h1>
@if (!string.IsNullOrWhiteSpace(Model?.ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>!  @Model.ErrorMessage</strong>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.OldPassword" class="control-label"></label>
                <input asp-for="Item.OldPassword" class="form-control" />
                <span asp-validation-for="Item.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.NewPassword" class="control-label"></label>
                <input asp-for="Item.NewPassword" class="form-control" />
                <span asp-validation-for="Item.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ConfirmPassword" class="control-label"></label>
                <input asp-for="Item.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Item.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <script>
        $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-danger").slideUp(500);
        });
    </script>
    }