@{
    Layout = "_MenuLayout";
}

@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

<div class="d-flex justify-content-around">
<div class="card col-6">
    <div class="card-body">

        <table class="table table-bordered table-striped ">
            <tr>

                <th>@Html.DisplayNameFor(model => model.UserName)</th>

                <th>Acton</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(model => item.UserName)</td>
                    <td>@Html.ActionLink("UpdateRoles","AddRemoveRoles", new { id=item.Id}, new { @class="btn btn-primary"})</td>
                </tr>
            }
        </table>

    </div>
</div>
</div>
